/* Universal styles */

/* * {
  outline: 1px solid red;
} */
html {
  height: 100%;
}
body {
  background-color: rgba(238, 238, 238, 0.93) !important;
  background-image: url("../images/background.jpg");
  background-blend-mode: color;
  background-size: cover;
  background-color: #fff;
  font-family: "Montserrat light", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-tab {
  margin-top: 5%;
  margin-left: 5%;
  background-color: #f8f9fa;
  padding-bottom: 5%;
  margin-bottom: 10%;
  border-radius: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  padding: 0.5rem 1rem !important;
}
a {
  color: #49aaa5;
}
a:hover {
  text-decoration: none;
  color: #7cc2be;
  font-weight: bolder;
}

/* Navigation bar */
.navigation-title {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem !important;
}

.active {
  background-color: #49aaa5;
  border-radius: 1rem;
  max-width: 6rem;
}

.page-title {
  color: #49aaa5;
}

/* Profile page specific*/

.profile-pic {
  inline-size: 22rem;
  border-radius: 1rem;
}

.bio {
  text-align: justify;
}

/* Portfolio placeholder image */

.portfolio-place-holder {
  height: 21rem;
  width: 21rem;
}

.portfolio-image {
  margin-top: 1rem;
  height: auto;
  border-radius: 1rem;
}

.portfolio-image:hover {
  opacity: 0.7;
  box-shadow: 0.3rem 0.3rem 0.5rem #ccc;
}

/* Project information */
.project-title {
  color: #d94a1c;
  margin: 1rem 0rem;
}

.project-info {
  list-style-type: none;
}

.project-info li {
  padding-bottom: 1rem;
}

/* Contact me page specific*/
form {
  padding: 3% 0 0;
}

/* Page color scheme button and title */

.page-color-theme {
  background-color: #49aaa5;
  color: #fff;
}

.page-color-theme:hover {
  background-color: #7cc2be;
  color: #bdfffc;
}

/* Sticky footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #49aaa5;
  text-align: center;
  font-weight: 900;
}

/* Custom screen size responsiveness */

@media screen and (max-width: 768px) {
  .profile-pic {
    inline-size: 15rem;
  }

  img {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .profile-pic {
    inline-size: 11rem;
  }

  .main-tab {
    margin: 0;
    padding: 7%;
    border-radius: 0;
  }

  form {
    padding: 25% 5% 40%;
  }

  .small-screen-title {
    font-size: 3rem;
  }

  .navigation-title {
    font-size: 1.3rem;
  }
}
